<body class="">
  <div >
    <div class="ui-g-12"></div>
    <p-card  header="Advanced"  class="ui-g-4 ui-g-offset-4 ui-sm-10 ui-sm-offset-1">
      <p-header>
        <div class="ui-md-4 ui-md-offset-4">
        <img src="../../assets/icon.png" class="img-circle img-responsive">
        
        <!-- <p class="card-title">Please fill in your credintials to login</p> -->
        </div>
      </p-header>
      <div class="ui-g ui-fluid" id="loginCardBody">
        <label class="label">Username</label>
        <div class="ui-g-12">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" autocomplete="off" class="ui-inputtext ui-corner-all ui-state-default ui-widget"
              placeholder="Username" />
          </div>
        </div>
        <label class="label">Password</label>
        <div class="ui-g-12">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-unlock"></i></span>
            <input type="password" autocomplete="off" class="ui-inputtext ui-corner-all ui-state-default ui-widget"
              pPassword placeholder="Password" />
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="remember-me">Remember Me</span>
          <input type="checkbox">
        </div>
        <div class="ui-g-12 ui-md-6">
          <a href="#">Forgot Password</a>
        </div>
        <div class="ui-g-12">
          <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
            <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-person"></span>
            <span class="ui-button-text ui-c">Sign In</span>
          </button>
        </div>
      </div>
    </p-card>

  </div>
</body>