body
    background: url("../../assets/bg.png")
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    min-height: 700px

p-card 
    padding-top: 25px
    margin-top: 40px

#loginCardBody
    // background-color: rgba(240,240,250,0.6) !important
    padding-top: 10px

.ui-inputgroup, button
    margin-top: 10px
    margin-bottom: 10px