<app-navbar></app-navbar>
<div style="height: 25px;"></div>

<p-toolbar>
  <span style='color:#f0e7ec'>Welcome {{username}} ot your Attendance Log.</span>
  <div class="ui-toolbar-group-right">
    <button type="button" pButton label="Export Table" (click)="dt.exportCSV()" class="ui-button-raised ui-button-secondary ui-button-rounded"></button>
  </div>


</p-toolbar>
<p-table #dt [columns]="cols" [value]="attend" [style]="{'min-width':'800px'}" [paginator]="true" [rows]="15" sortMode="multiple">
  <ng-template pTemplate="caption">
    <div style="text-align: left">
      <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')"
        style="width:60%">
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <input *ngSwitchCase="'Date'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
        <div *ngSwitchCase="'year'">
          Value > {{yearFilter}} <i class="fa fa-close" (click)="yearFilter=null;dt.filter(null, col.field, col.filterMatchMode)"
            style="cursor:pointer" *ngIf="yearFilter"></i>
            <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="yearFilter" [min]="2000" [max]="2020"
              (onChange)="onYearChange($event, dt)"></p-slider>
        </div>
        <p-dropdown *ngSwitchCase="'DayType'" [options]="dayTypes" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
        <p-multiSelect *ngSwitchCase="'Attendance'" [options]="Attendance" defaultLabel="All types" [style]="{'width':'100%'}"
          (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
        <input *ngSwitchCase="'WorkHours'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
        <input *ngSwitchCase="'LateAmmount'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
</p-table>